<ul class="list-inline text-center">
  <li>
    <img src="https://kitt.lewagon.com/placeholder/users/brntorres" alt="" class="img-circle">
    <h3>Brunno</h3>
  </li>
  <li>
    <img src="https://kitt.lewagon.com/placeholder/users/victor-slduarte" alt="" class="img-circle">
    <h3>Victor</h3>
  </li>
</ul>
